<?xml version="1.0"?>

<model>
  <name>Point Grey Camera Model MV USB FMVU-03MTM</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alexandre Borowczyk</name>
    <email>borowczyk.alexandre@gmail.com</email>
  </author>

  <description>
    Simulation of a Point Grey Camera
  </description>

  <depend>
  </depend>
</model>
